@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-enter {
  animation: enter 0.3s ease-out forwards;
}
